body{
     margin : 0;
    font-family: 'Grandstander', cursive;
}
h1{
    font-size: 50px;
}
#small{
    font-size: 30px;
}

.top-banner{
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat ;
   
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.name-highlight{
    color: #eb3471;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
}
.dream-area{
    background-image: url("image/biography-bg.png");
    background-repeat: no-repeat ;
   

}
.trio-width {
    padding-left: 18px;
    float: left;
    width: 30%;
    margin: 8px;
    align-content: center;}
.trio-width img {
    width: 100%;
}
.latest-work{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.work-banner{
    background-image: url(image/latest-work-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    
}
.review{
    text-align: center;
}
.WhatClientaresay{
    font-size: 50px;

}
.bill{
    font-size: 50px;
}
.review2{
    margin: auto;
    text-align: center;
    width: 60%;
    padding-bottom: 30px;
    padding-top: 30px;

}
.msgbox{
    color: white;
    width: 40%;
    padding: 15px 30px;
    background-image: linear-gradient(45deg, #EC5299, #ED4B6E);
    border-radius: 10px;
    margin: auto;
    margin-top: 65px;
    text-align: center;
    line-height: 20px;
}
.nowroz{
      font-size: 30px;

}
footer{
    background-image: url(image/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 500px;
    padding-bottom: 350px;


}
.copyright{
    text-align: center;
    padding-top: 200px;
}

